@import './variables.scss';

.about-me {
	margin-top: 17em;

	.content {
		margin-top: 5em;
		display: flex;
		justify-content: space-around;

		@media (max-width: $responsive-max-width-sm) {
			@include about-me-content-sm;
		}

		.description {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			font-size: 1.2em;
			max-width: 65%;

			@media (max-width: $responsive-max-width-sm) {
				@include about-me-description-sm;
			}
			span {
				text-align: justify;
			}

			.infinity {
				background: -webkit-linear-gradient(45deg, #68ff8c, #ffec6b 80%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.image {
			$image-size: 12.5em;
			$rotation: rotate(48deg);
			$star-path-sm-scale: scale(0.5);

			width: $image-size;
			height: $image-size;
			background-image: url('../images/profile-picture.png');
			background-size: cover;
			position: relative;

			@mixin trailing-star-path {
				content: '';
				position: absolute;
				border-radius: 10px;
				transform: $rotation;
				transform-origin: bottom;
				background-color: rgba(255, 255, 255, 0.3);
				@media (max-width: $responsive-max-width-sm) {
					transform: $rotation $star-path-sm-scale;
					animation: trailing-animation-sm 3s infinite ease-in-out;
				}
			}

			.star-path-1 {
				top: -7em;
				left: 9em;
				height: 100px;
				width: 20px;
				@include trailing-star-path;
				animation: trailing-animation 4s infinite ease-in-out;
			}

			.star-path-2 {
				top: -9em;
				left: 12em;
				height: 160px;
				width: 20px;
				@include trailing-star-path;
				animation: trailing-animation-2 6s infinite ease-in-out;
			}

			.star-path-3 {
				top: -1.8em;
				left: 13em;
				height: 100px;
				width: 20px;
				@include trailing-star-path;
				animation: trailing-animation 4s infinite ease-in-out;
			}

			@keyframes trailing-animation {
				0%,
				50%,
				100% {
					transform: $rotation scaleY(1);
				}
				25%,
				75% {
					transform: $rotation scaleY(0.9);
					border-radius: 20px;
				}
			}
			@keyframes trailing-animation-2 {
				0%,
				50%,
				100% {
					transform: $rotation scaleY(1);
				}
				25%,
				75% {
					transform: $rotation scaleY(0.8);
					border-radius: 20px;
				}
			}
			@keyframes trailing-animation-sm {
				0%,
				50%,
				100% {
					transform: $rotation $star-path-sm-scale;
				}
				25%,
				75% {
					transform: $rotation scale(0.6);
					border-radius: 20px;
				}
			}
		}
	}
}
