@import './variables.scss';

.footer {
	display: flex;
	justify-content: flex-end;
	flex-basis: 100%;
	padding: 20em 0 2em 0;
	position: relative;
	z-index: 1;

	.created-with {
		display: flex;
		justify-content: space-evenly;
		width: 30%;

		@media (max-width: $responsive-max-width-sm) {
			flex-wrap: wrap;
		}

		@media (max-width: 510px) {
			min-width: 50%;
		}

		.section {
			display: flex;
			justify-content: space-evenly;
			width: 16em;

			@media (max-width: $responsive-max-width-sm) {
				margin-top: 1em;
			}
		}

		.astronaut {
			position: absolute;
			left: 0;
			bottom: 0;
			max-width: 35%;
		}

		b {
			align-self: center;
		}
	}
}
