@import './variables.scss';

.header {
	height: $base-header-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.8em;

	.name {
		visibility: hidden;
		font-size: 1.5em;
		font-weight: 500;
		user-select: none;
	}

	.external-icons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 13em;
		z-index: 2;

		a {
			position: relative;
			font-size: 24px;
			color: white;

			svg {
				transition: 0.2s ease-out;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: -0.5em;
				left: 0;
				background-color: white;
				transition: 0.2s;
				height: 2px;
				width: 100%;
				transform: scale(0);
				transform-origin: center center;
			}

			&:hover {
				&::after {
					transform: scale(1);
				}
			}
		}
	}
}
