.header {
	background-color: white;
	border-bottom: 1px solid lightgray;
	height: 3.1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.8em;

	.name {
		font-size: 1.5em;
		font-weight: 500;
		user-select: none;
	}

	.external-icons {
		content: '';
		display: flex;
		justify-content: space-around;
	}
}
