@import './variables.scss';
@import './content-section.scss';

.journey-log {
	margin-top: 30em;

	.content {
		@include content-section;

		.log-grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
			gap: 3em;
			width: 100%;

			.planet {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				text-align: center;
				font-weight: bold;
				min-height: 12em;
				min-width: 12em;

				&-name {
					font-size: 1.3em;
					font-weight: bold;
				}

				&-role {
					font-size: 1.1em;
				}

				&-date {
					font-size: 1em;
				}

				img {
					$size: 8em;

					align-self: center;
					width: $size;
					height: $size;
				}
			}
		}
	}
}
