@import './variables.scss';

.journey-log {
	margin-top: $section-margin-top;

	&-content {
		.log-grid {
			$planet-size: 12em;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax($planet-size, 1fr));
			gap: 3em;
			width: 100%;

			.planet {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				text-align: center;
				font-weight: bold;
				min-height: $planet-size;
				min-width: $planet-size;

				&-name {
					font-size: 1.3em;
					font-weight: bold;
					margin-top: 1em;
				}

				&-role {
					margin-top: 0.5em;
					font-size: 1.1em;
				}

				&-date {
					margin-top: 0.5em;
					font-size: 1em;
				}

				&-image {
					-webkit-transform-style: preserve-3d;
					position: relative;

					img {
						$size: 8em;

						align-self: center;
						width: $size;
						height: $size;
						border-radius: 50%;
						box-shadow: 0px 0px 20px 5px #ffffff21;
					}
				}

				.ring {
					$ring-size: $planet-size - 2em;
					$start-rotation: 0deg;
					$end-rotation: 2700deg;
					$top-position: -1.15em;
					$left-position: calc(50% - $ring-size / 1.9);

					content: '';
					position: absolute;
					top: $top-position;
					left: $left-position;
					width: $ring-size;
					height: $ring-size;
					border: 3px solid white;
					border-radius: 50%;
					transform: rotate3d(1, 1, 1, 200deg);

					&-roihunter {
						animation: planet-rings-rh 400s infinite linear;
						@keyframes planet-rings-rh {
							0%,
							100% {
								transform: rotate3d(1, 1, 1, 0deg);
							}
							50% {
								transform: rotate3d(1, 1, 1, $end-rotation);
							}
						}
					}

					&-basis {
						animation: planet-rings-basis 400s infinite linear;
						@keyframes planet-rings-basis {
							0%,
							100% {
								transform: rotate3d(5, 10, 1, 45deg);
							}
							50% {
								transform: rotate3d(5, 10, 1, $end-rotation);
							}
						}
					}

					&-indra {
						animation: planet-rings-indra 400s infinite linear;
						@keyframes planet-rings-indra {
							0%,
							100% {
								transform: rotate3d(4, 10, 7, 90deg);
							}
							50% {
								transform: rotate3d(4, 10, 7, $end-rotation);
							}
						}
					}

					&-polisys {
						animation: planet-rings-polisys 400s infinite linear;
						@keyframes planet-rings-polisys {
							0%,
							100% {
								transform: rotate3d(1, 2, 5, 60deg);
							}
							50% {
								transform: rotate3d(1, 2, 5, $end-rotation);
							}
						}
					}
				}
			}
		}
	}
}
