@import './variables.scss';

.projects {
	margin-top: $section-margin-top;

	@media (max-width: $responsive-max-width-sm) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&-content {
		@media (max-width: $responsive-max-width-sm) {
			width: 90%;
		}

		.projects-grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
			gap: 3em;

			.project-item {
				display: flex;
				border: 2px solid white;
				border-radius: 10px;
				padding-top: 1.4em;
				padding-bottom: 0.5em;
				position: relative;
				overflow: hidden;

				.github-overview {
					min-width: 4rem;
					position: absolute;
					right: 1.2rem;
					top: 2.4rem;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 8px;
					transform: rotate(45deg);
				}

				.ribbon {
					position: absolute;
					right: 0;
					top: 0;
					cursor: pointer;
				}

				.image-data-container {
					display: flex;
					justify-content: space-evenly;
					flex-direction: column;
					width: 100%;

					img {
						$image-size: 8em;
						height: $image-size;
						width: $image-size;
						border-radius: 10px;
						align-self: center;
					}

					.description-wrapper {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-evenly;
						align-self: center;
						max-width: 80%;
						height: 20em;

						&-title {
							width: 100%;
							font-size: 1.3em;
							text-align: center;
							align-self: center;
						}

						&-value {
							align-self: center;
							text-align: justify;
						}
					}

					.created-with {
						width: 100%;
						text-align: center;
						align-self: center;
					}
				}

				.badges-list {
					width: 100%;
					display: flex;
					justify-content: center;
				}
			}
		}
	}
}
