@import './variables.scss';

.qualification {
	margin-top: $section-margin-top;

	@media (max-width: $responsive-max-width-sm) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	&-content {
		@media (max-width: $responsive-max-width-sm) {
			width: 90%;
		}

		.section {
			$section-spacing: 2em;

			margin-top: $section-spacing;
			padding-bottom: $section-spacing;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			font-size: 1.3em;

			&:last-child {
				border-bottom: none;
			}

			.badges-grid {
				$badge-size: 7em;

				margin-top: 2em;
				font-size: 0.9em;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax($badge-size, 1fr));
				gap: 4em;

				&-item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					img {
						width: $badge-size;
						height: $badge-size;
					}

					span {
						margin-top: 1em;
					}
				}
			}
		}
	}
}
