@import './variables.scss';

.title {
	font-size: $title-font-size;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: $responsive-max-width-sm) {
		font-size: $title-font-size-sm;
	}

	span {
		margin-left: 0.5em;
	}
}
