$base-header-height: 4em;
$base-background-gradient-start: rgba(47, 11, 85, 1);
$base-background-gradient-middle: rgba(42, 64, 117, 1) 47%;
$background-gradient: linear-gradient(
	90deg,
	$base-background-gradient-start 0%,
	$base-background-gradient-middle 47%,
	$base-background-gradient-start 100%
);

// Welcome
$welcome-font-size: 2.5em;
$welcome-font-size-sm: 1.8em;
