// Background
$base-header-height: 4em;
$base-background-gradient-start: rgba(47, 11, 85, 1);
$base-background-gradient-middle: rgba(42, 64, 117, 1) 47%;
$background-gradient: linear-gradient(
	90deg,
	$base-background-gradient-start 0%,
	$base-background-gradient-middle 47%,
	$base-background-gradient-start 100%
);

// Responsive
$responsive-max-width-sm: 1128px;

// Welcome
$welcome-font-size: 2.5em;
$welcome-font-size-sm: 2em;

//About me
@mixin about-me-description-sm {
	font-size: 1.1em;
	max-width: 80%;
	margin-top: 2em;
	min-height: 12em;
}
@mixin about-me-content-sm {
	margin-top: 7em;
	flex-direction: column-reverse;
	align-items: center;
}

// Utils
$title-font-size: 2em;
$title-font-size-sm: 1.7em;

$section-margin-top: 30em;
