@import './variables.scss';

.welcome {
	width: 100%;
	height: calc(100vh - ($base-header-height + 1em));
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: $welcome-font-size !important;

	@media (max-width: $responsive-max-width-sm) {
		font-size: $welcome-font-size-sm !important;
	}

	&-wrapper {
		position: relative;

		h3 {
			position: relative;
			user-select: none;

			&::after {
				position: absolute;
				content: '';
				width: 0.08em;
				height: 1.2em;
				margin-left: 0.1em;
				animation: blink 1s infinite;
			}
		}

		.mouse-wrapper {
			font-size: 40px;
			$mouse-width: 0.65em;
			$mouse-border: 0.05em;
			animation: fade-in 0.5s;
			position: absolute;
			top: 4.2em;
			left: calc(50% - ($mouse-width / 2 + $mouse-border));

			.icon {
				content: '';
				width: $mouse-width;
				height: 1.1em;
				border: $mouse-border solid white;
				border-radius: 25px;
				animation: move-mouse 1s infinite;

				&::before {
					$scroll-wheel-width: 0.09em;
					content: '';
					position: absolute;
					top: 0.2em;
					left: calc(50% - ($scroll-wheel-width / 2 + $mouse-border));
					border-radius: 25px;
					width: $scroll-wheel-width;
					height: 0.2em;
					border: $mouse-border solid white;
				}
			}
		}

		@keyframes fade-in {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		@keyframes move-mouse {
			0%,
			100% {
				opacity: 0.8;
				transform: translateY(0);
			}
			50% {
				opacity: 1;
				transform: translateY(0.5em);
			}
		}

		@keyframes blink {
			0%,
			100% {
				background-color: rgba(255, 255, 255, 1);
			}
			50% {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}
}
