@import './variables.scss';

.welcome {
	width: 100%;
	height: calc(100vh - $base-header-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: $welcome-font-size !important;

	@media (max-width: $responsive-max-width-sm) {
		font-size: $welcome-font-size-sm !important;
		height: calc(100vh - ($base-header-height + 1em));
	}

	&-wrapper {
		position: relative;

		h3 {
			position: relative;
			user-select: none;

			&::after {
				position: absolute;
				content: '';
				width: 0.08em;
				height: 1.2em;
				margin-left: 0.1em;
				animation: blink 1s infinite;
			}
		}

		.mouse {
			position: absolute;
			top: 4.2em;
			left: calc(50% - (90px / 2));
			animation-name: move-mouse;
			animation-duration: 1.9s;
			animation-iteration-count: infinite;
		}

		@keyframes move-mouse {
			0%,
			100% {
				opacity: 0;
			}
			50% {
				opacity: 1;
			}
		}

		@keyframes blink {
			0%,
			100% {
				background-color: rgba(255, 255, 255, 1);
			}
			50% {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}
}
