@import './variables.scss';

.welcome {
	width: 100%;
	height: calc(100% - $base-header-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 2.5em !important;

	h3 {
		position: relative;

		&::after {
			position: absolute;
			content: '';
			width: 0.08em;
			height: 100%;
			margin-left: 0.2em;
			animation: blink 1s infinite;
		}
	}

	@keyframes blink {
		0%,
		100% {
			background-color: rgba(255, 255, 255, 1);
		}
		50% {
			background-color: rgba(255, 255, 255, 0);
		}
	}
}
