@import '../assets/css/header.scss';
@import '../assets/css/footer.scss';

@import '../assets/css/variables.scss';
@import '../assets/css/title.scss';
@import '../assets/css/content-section.scss';
@import '../assets/css/badge.scss';

@import '../assets/css/welcome.scss';
@import '../assets/css/about-me.scss';
@import '../assets/css/journey-log.scss';
@import '../assets/css/qualification.scss';
@import '../assets/css/projects.scss';
@import '../assets/css/contact.scss';

html {
	height: 100%;
	user-select: none;
	background: $base-background-gradient-start;
}

#root {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
	&::-webkit-scrollbar {
		z-index: 2;
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 20px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	line-height: 1.5;
}

.main {
	max-width: 925px;
	z-index: 1;
}

@media (min-width: 1350px) {
	.main {
		max-width: 1340px;
	}
}

body {
	background: $background-gradient;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	color: white;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
