@use '../assets/css/header.scss';

@import '../assets/css/variables.scss';
@import '../assets/css/title.scss';

@import '../assets/css/welcome.scss';
@import '../assets/css/about-me.scss';

html {
	height: 100%;
	user-select: none;
	background: $base-background-gradient-start;
}

#root {
	overflow-y: scroll;
	height: 100%;
}

.content {
	display: flex;
	justify-content: center;
	height: 100%;
}

.main {
	max-width: 925px;
	z-index: 1;
}

@media (min-width: 1500px) {
	.main {
		max-width: 1500px;
	}
}

body {
	background: $background-gradient;
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	color: white;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
